* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

  border-color: none;
}

main {
font-family: 'Arvo', serif;


}
.bg {
color: black;
background-color: #FFF4F0;
background-attachment: fixed;
background-size: cover;
text-align: center;

}
.bg-gallery {

background-attachment: fixed;
background-size: cover;
text-align: center;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3cpath d='M1512 560L0 560 L0 479.1Q20.57 427.68%2c 72 448.25Q140.41 396.66%2c 192 465.07Q262.4 415.47%2c 312 485.86Q354.4 408.26%2c 432 450.67Q503.68 402.35%2c 552 474.02Q582.51 432.53%2c 624 463.04Q695.95 414.99%2c 744 486.94Q760.57 431.51%2c 816 448.08Q887.63 399.71%2c 936 471.34Q966.05 429.38%2c 1008 459.43Q1080.88 412.31%2c 1128 485.18Q1158.8 443.98%2c 1200 474.78Q1246.74 401.52%2c 1320 448.27Q1399.32 407.59%2c 1440 486.91Q1467.93 442.84%2c 1512 470.77z' fill='rgba(54%2c 116%2c 239%2c 1)'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 509.95Q61.3 451.25%2c 120 512.54Q164.66 437.19%2c 240 481.85Q283.22 453.07%2c 312 496.29Q378.68 442.97%2c 432 509.65Q451.38 457.02%2c 504 476.4Q547.67 448.07%2c 576 491.75Q619.76 463.51%2c 648 507.27Q694.95 434.22%2c 768 481.16Q835.29 428.45%2c 888 495.73Q954.25 441.99%2c 1008 508.24Q1029.91 458.15%2c 1080 480.07Q1149.04 429.11%2c 1200 498.15Q1242.12 468.27%2c 1272 510.39Q1295.18 461.57%2c 1344 484.75Q1409.77 430.52%2c 1464 496.29z' fill='rgba(79%2c 96%2c 124%2c 1)'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 541.96Q48.29 470.25%2c 120 518.55Q150.67 477.22%2c 192 507.9Q263.79 459.69%2c 312 531.49Q377.35 476.84%2c 432 542.19Q451.9 490.1%2c 504 510Q545.11 479.11%2c 576 520.22Q617.78 490%2c 648 531.79Q713.28 477.07%2c 768 542.35Q809.47 463.82%2c 888 505.28Q953.59 450.87%2c 1008 516.45Q1054.4 490.86%2c 1080 537.26Q1124.34 461.6%2c 1200 505.93Q1245.96 479.89%2c 1272 525.86Q1339.7 473.57%2c 1392 541.27Q1414.5 491.77%2c 1464 514.27z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1560 560L0 560 L0 551Q51.49 482.49%2c 120 533.97Q195.87 489.84%2c 240 565.71Q270.61 524.32%2c 312 554.93Q340.16 511.09%2c 384 539.25Q433.97 517.22%2c 456 567.19Q485.83 525.02%2c 528 554.85Q581.83 488.68%2c 648 542.51Q719.84 494.35%2c 768 566.19Q822 500.19%2c 888 554.19Q917.68 511.87%2c 960 541.55Q1033.45 495%2c 1080 568.46Q1134.07 502.53%2c 1200 556.59Q1254.21 490.81%2c 1320 545.02Q1392.03 497.05%2c 1440 569.08Q1493.38 502.46%2c 1560 555.84z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");}

.tools-bg {
background-color: white;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='250' x='0' y='0' fill='rgba(217%2c 223%2c 229%2c 1)'%3e%3c/rect%3e%3cpath d='M24 250L274 0L547 0L297 250z' fill='url(%23SvgjsLinearGradient1004)'%3e%3c/path%3e%3cpath d='M239.60000000000002 250L489.6 0L692.1 0L442.1 250z' fill='url(%23SvgjsLinearGradient1004)'%3e%3c/path%3e%3cpath d='M488.20000000000005 250L738.2 0L903.2 0L653.2 250z' fill='url(%23SvgjsLinearGradient1004)'%3e%3c/path%3e%3cpath d='M727.8000000000001 250L977.8000000000001 0L1189.3000000000002 0L939.3000000000001 250z' fill='url(%23SvgjsLinearGradient1004)'%3e%3c/path%3e%3cpath d='M1421 250L1171 0L901 0L1151 250z' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/path%3e%3cpath d='M1197.4 250L947.4000000000001 0L698.4000000000001 0L948.4000000000001 250z' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/path%3e%3cpath d='M934.8 250L684.8 0L459.79999999999995 0L709.8 250z' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/path%3e%3cpath d='M715.1999999999999 250L465.19999999999993 0L286.69999999999993 0L536.6999999999999 250z' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/path%3e%3cpath d='M1275.202900854327 250L1440 85.20290085432705L1440 250z' fill='url(%23SvgjsLinearGradient1004)'%3e%3c/path%3e%3cpath d='M0 250L164.79709914567295 250L 0 85.20290085432705z' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1004'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1005'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");background-size: cover;
background-attachment: inherit;
opacity: 1;
}

.contact-bg {
background-attachment: fixed;
background-size: cover;
background-attachment: inherit;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='250' x='0' y='0' fill='rgba(217%2c 223%2c 229%2c 1)'%3e%3c/rect%3e%3cpath d='M24 250L274 0L547 0L297 250z' fill='url(%23SvgjsLinearGradient1004)'%3e%3c/path%3e%3cpath d='M239.60000000000002 250L489.6 0L692.1 0L442.1 250z' fill='url(%23SvgjsLinearGradient1004)'%3e%3c/path%3e%3cpath d='M488.20000000000005 250L738.2 0L903.2 0L653.2 250z' fill='url(%23SvgjsLinearGradient1004)'%3e%3c/path%3e%3cpath d='M727.8000000000001 250L977.8000000000001 0L1189.3000000000002 0L939.3000000000001 250z' fill='url(%23SvgjsLinearGradient1004)'%3e%3c/path%3e%3cpath d='M1421 250L1171 0L901 0L1151 250z' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/path%3e%3cpath d='M1197.4 250L947.4000000000001 0L698.4000000000001 0L948.4000000000001 250z' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/path%3e%3cpath d='M934.8 250L684.8 0L459.79999999999995 0L709.8 250z' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/path%3e%3cpath d='M715.1999999999999 250L465.19999999999993 0L286.69999999999993 0L536.6999999999999 250z' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/path%3e%3cpath d='M1275.202900854327 250L1440 85.20290085432705L1440 250z' fill='url(%23SvgjsLinearGradient1004)'%3e%3c/path%3e%3cpath d='M0 250L164.79709914567295 250L 0 85.20290085432705z' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1004'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1005'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");}
.card-intro {
background-color: #CC5926;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23CC5926' width='11' height='11'/%3E%3Crect fill='%23cd5c27' x='10' width='11' height='11'/%3E%3Crect fill='%23cd5f28' y='10' width='11' height='11'/%3E%3Crect fill='%23ce6229' x='20' width='11' height='11'/%3E%3Crect fill='%23ce652a' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23cf682c' y='20' width='11' height='11'/%3E%3Crect fill='%23cf6b2d' x='30' width='11' height='11'/%3E%3Crect fill='%23d06e2f' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23d07130' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23d17432' y='30' width='11' height='11'/%3E%3Crect fill='%23d17733' x='40' width='11' height='11'/%3E%3Crect fill='%23d27a35' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23d27c37' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23d27f39' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23d3823b' y='40' width='11' height='11'/%3E%3Crect fill='%23d3843d' x='50' width='11' height='11'/%3E%3Crect fill='%23d4873f' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23d48a41' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23d58c43' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23d58f45' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23d69247' y='50' width='11' height='11'/%3E%3Crect fill='%23d6944a' x='60' width='11' height='11'/%3E%3Crect fill='%23d6974c' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23d7994e' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23d79c51' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23d89f53' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23d8a156' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23d9a458' x='70' width='11' height='11'/%3E%3Crect fill='%23d9a65b' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23daa95d' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23daab60' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23dbad63' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23dbb066' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23dbb268' x='80' width='11' height='11'/%3E%3Crect fill='%23dcb56b' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23dcb76e' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23ddba71' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23debc74' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23debe77' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23dfc17a' x='90' width='11' height='11'/%3E%3Crect fill='%23dfc37d' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23e0c580' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23e0c883' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23e1ca86' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23e2cc89' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23e2cf8d' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23e3d190' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23e4d393' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23e4d696' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23e5d89a' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23e6da9d' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23e7dca0' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23e7dfa3' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23e8e1a7' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23e9e3aa' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23eae5ad' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23ebe7b1' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23eceab4' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23edecb8' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EEB' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
 background-attachment: inherit;
}

.card-1 {
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
background-color: #CC5926;
background-color: #ff7700;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
 background-attachment: inherit;
  color: #FF7246 !important;
}

.card-2 {
	border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #CC5926;
background-color: #ff7700;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
 background-attachment: inherit;
  color: #FF7246 !important;
}

.card-3 {
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
background-color: #CC5926;
background-color: #ff7700;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
background-attachment: inherit;
color: #FF7246 !important;
}


.gl-card-bg {
	background-color: #242424;
}
.navbar {
	background-color: #171000;
	position: fixed;

}


/*Font color start*/
.me-font {
	color: #FF7246;
}
.font-1 {
	color: black;
text-align: center;
}

.card-intro {
	color: #black;
text-align: center;
}
.nav-font {
	color: #FF7246;
font-family: 'Arvo', serif;
}
.nav-font1 {
	color:#FF7246;
font-family: 'Arvo', serif;	

}
.pet-gal-link {
color: black;

}
.tools-card {
color: black;  
}
/*Font color end*/



.image-1 {
	text-align: center;
}
.d-inline {
	 border-radius: 45px;

}










